@import './settings';
@import './colors';
@import './mixins';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 24px;
  font-family: $font-family-body;
  background-color: $color-gray-light;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-header;
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 0;
}

h1,
h2 {
  font-size: $size-24;
  margin-bottom: $size-24;

  @include breakpoint($s) {
    font-size: $size-40;
  }
}

h3 {
  font-size: $size-32;
  margin-bottom: $size-8;
}

h4,
h5,
h6 {
  font-size: $size-24;
  margin-bottom: $size-4 / 2;
}

p {
  margin: 0 0 1.5em;
}

a {
  text-decoration: none;
  word-break: break-all;

  @include breakpoint($xs) {
    word-break: normal;
  }
}

ol,
ul {
  margin: 0 0 1em;
}

ol {
  padding: 0;
  padding-left: $size-18;

  li {
    padding-left: $size-12;
    margin-bottom: $size-12;
  }
}

img {
  max-width: 100%;
}

input,
label,
select,
button,
textarea {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  display: block;
  white-space: normal;
  background: none;
  line-height: normal;
  font-size: 1em;
  font-family: inherit;
  color: inherit;
  overflow: visible;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.page {
  position: relative;
  background: $color-gray-light;
  overflow-x: hidden;

  &--white {
    background: $color-white;
  }
}

.page__header {
  display: flex;
  width: 100%;
  height: $size-60;

  @include breakpoint($s) {
    height: $size-80;
  }
}

.page__content {
  padding: 0 $size-12;
  padding-top: $size-16;
  max-width: $site-width;
  min-height: 100vh;
  margin: 0 auto;

  @include breakpoint($s) {
    padding: $size-64 $size-24;
  }

  &--width-8 {
    max-width: $site-width-8;
  }
}

.page__title {
  margin-bottom: $size-32;

  &:last-child {
    margin-bottom: 0;
  }
}

.page__preamble {
  margin: 0 0 $size-24;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: $color-black;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}

.page__preamble {
  font-size: $size-22;
  line-height: $size-28;
  max-width: 680px;
}

.page__description {
  font-size: $size-18;
  line-height: $size-28;
  margin: 0;
}

// RTE embed using Prismic embed (eg youtube)
.embed {
  position: relative;
  width: 100%;

  &:after {
    content: '';
    display: block;
    padding-bottom: 56.25%;
  }

  div,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Iframe embed using custom field in Prismic
.iframe-embed {
  width: 100%;
}

.icon-sprite {
  display: none !important;
}
