$color-white: #fff;
$color-black: #000;
$color-dark: #1a1a1a;
$color-red: #E5243B;
$color-green: #56C02B;
$color-gray: #d8d8d8;
$color-gray-light: #f1f1f1;
$color-gray-medium: #cccccc;
$color-gray-dark: #999999;

$color-goal-1: #e5243b;
$color-goal-2: #dda63a;
$color-goal-3: #4c9f38;
$color-goal-4: #c5192d;
$color-goal-5: #ff3a21;
$color-goal-6: #26bde2;
$color-goal-7: #fcc30b;
$color-goal-8: #a21942;
$color-goal-9: #fd6925;
$color-goal-10: #dd1367;
$color-goal-11: #fd9d24;
$color-goal-12: #bf8b2e;
$color-goal-13: #3f7e44;
$color-goal-14: #0a97d9;
$color-goal-15: #56c02b;
$color-goal-16: #00689d;
$color-goal-17: #19486a;
