.flex {
  display: flex;
  position: relative;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-align {
  &-start {
    align-items: start;
  }

  &-end {
    align-items: end;
  }

  &-center {
    align-items: center;
  }
}

.flex-justify {
  &-center {
    justify-content: center;
  }

  &-left {
    justify-content: left;
  }

  &-right {
    justify-content: right;
  }

  &-space-between {
    justify-content: space-between;
  }

  &-end {
    justify-content: flex-end;
  }
}
