@tailwind base;
@tailwind components;
@tailwind utilities;

.ally-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.loading-indicator-circle {
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-indicator-circle--1 {
  animation-delay: -0.32s;
}

.loading-indicator-circle--2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(0.8);
  }
}

.print-color-adjust {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block !important;
  }
}
