@tailwind base;
@tailwind components;
@tailwind utilities;

.print-color-adjust {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block !important;
  }
}
