@media print {
  html {
    width: 100%;
    zoom: 1;
  }

  body,
  .page {
    zoom: 1 !important;
    transform: scale(1);
    width: 100% !important;
    background-color: $color-white !important;
  }

  .page__header {
    display: none !important;
  }

  .page__title {
    font-size: $size-40;
  }

  .section__inner {
    margin: 0 !important;
  }

  .section__title {
    font-size: $size-24;
    text-align: left !important;
    text-transform: initial;
  }

  .section--white,
  .section--gray-light {
    &:after {
      display: none !important;
    }
  }

  .section__description,
  .form__label {
    font-size: $size-12 !important;
    line-height: $size-24 !important;
  }

  .avatar {
    display: none !important;
  }

  .button {
    display: none !important;
  }

  .section--gray-light:after {
    background-color: $color-white;
  }

  .box {
    width: 24px !important;
    height: 24px !important;
  }

  .box__content {
    font-size: $size-14 !important;

    span {
      color: $color-white !important;
    }
  }

  .box--with-content {
    box-shadow: none !important;
  }

  .form__input {
    width: auto !important;
  }

  .form__input--strategy {
    display: none !important;
  }

  .form__input-checkbox {
    display: none !important;
  }

  .form__footer {
    display: none !important;
  }

  .form__status {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }
}

.print-only {
  display: none;
}

.print-only-logo {
  width: 200px;
  height: auto;
  margin-bottom: $size-40;
}
