@import '../../styles/common.scss';

.header {
  position: relative;
  width: 100%;
  display: flex;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-light;
}

.inner {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  max-width: $site-width;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: $size-30 $size-12;

  @include breakpoint($m) {
    padding: $size-30 $size-24;
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 164px;
  height: 40px;
  color: $color-black;
  font-family: $font-family-header;
  background: url('./img/siat-logo.svg') no-repeat center center;
  background-size: contain;
  max-width: 150px;

  @include breakpoint($s) {
    max-width: none;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 8px 0 8px auto;
  padding: 0;
  list-style: none;
}

.navItem {
  margin: 0 $size-12;

  &:last-of-type {
    margin-right: 0;
  }
}

.hiddenS {
  display: none;

  @include breakpoint($s) {
    display: inline-block;
  }
}
