@import '../../styles/common.scss';

.options-bar__options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint($s) {
        flex-wrap: nowrap;
    }
}

.options-bar__option {
    margin: 5px;
}

.options-bar__other-option {
    display: flex;
    justify-content: center;
    margin-top: $size-24;

    @include breakpoint($s) {
        margin-top: $size-40;
    }
}
