@import '../../styles/common.scss';

.avatar {
    background-color: $color-gray;
    color: $color-black;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: lighten($color-gray, 5%);
    }
}


.avatar__initials {
    font-weight: $font-weight-bold;
    pointer-events: none;
}
