@import '../../styles/common.scss';

.goal-card {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: scale(1) translateZ(0);
  background-color: rgba($color-white, 0);
  padding-bottom: $size-24;
  box-shadow: $box-shadow rgba(0, 0, 0, 0);
  transform: translateY(0);
  transition: all 0.2s $transition-timing;

  &:hover {
    box-shadow: $box-shadow rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
  }
}

.goal-card--saved {
  background-color: rgba($color-white, 1);
}

.goal-card__figure {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  width: calc(100% - #{$size-24});
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.goal-card__status {
  display: none;
  position: absolute;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
  overflow: hidden;

  .goal-card__status-done {
    background-color: $color-black;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $size-12;

    .icon {
      width: 12px;
      height: 12px;
      fill: $color-white;
    }
  }

  .goal-card__status-done__text {
    color: $color-black;
    opacity: 0.5;
    font-size: $size-12;
    margin-left: $size-8;
  }

  .goal-card__status-edit {
    margin-left: auto;
    padding-right: $size-14;
    color: $color-black;
    font-size: $size-14;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $font-family-header;
    transform: translateY(5px);
    opacity: 0;
    transition: all 0.3s $transition-timing;

    .goal-card:hover & {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .goal-card--saved & {
    display: flex;
  }
}

.goal-card__title {
  display: none;
  visibility: hidden;
}

@for $i from 1 through 17 {
  .goal-card--goal-#{$i} {
    .goal-card__figure {
      background-image: url('./img/goal-#{$i}.svg');
    }
  }
}
