@import '../../styles/common.scss';

.box-row {
    &:after {
        content: '';
        display: table;
        clear: both;
    }

    & > .box {
        margin: 0 4px;
    }

    &--gray-light {
        & > .box {
            color: $color-gray-medium;
        }
    }

    &--gray {
        color: rgba($color-gray-dark, .5);

        & > .box {
            background-color: $color-gray-light;
        }
    }

    &--green {
        color: rgba($color-green, .5);
    }

    &--red {
        color: rgba($color-red, .5);
    }
}

.box-row--standalone {
    margin-left: 150px;

    .box-row__label {
        float: none;
        margin-top: $size-24;
        margin-left: 4px;
    }

    @media print {
        margin-left: 100px;
    }
}

.box-row__label {
    float: left;
    display: flex;
    height: 50px;
    align-items: center;
    font-size: $size-16;
    font-weight: $font-weight-bold;
    color: $color-dark;
    width: 150px;
    text-align: right;

    @media print {
        height: 30px;
        font-size: $size-12;
        width: 100px;
    }
}

.box-row {

    & > .box--with-content {
        .box__content {
            transform: scale(1) rotate(0);
            animation: scale 1s $transition-timing 1s forwards;
            
            @keyframes scale {
                0% { transform: scale(1);  }
                70% { transform: scale(1.1);  }
                100% { transform: scale(1); }
            }
        }
    }
}
