@import '../../../../../styles/common.scss';

.goalId {
  margin-right: $size-16;
  width: $size-8 * 10;
  height: $size-8 * 10;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.contentBox {
  .option {
    margin-top: $size-18;
  }
}
