@import '../../../../../styles/common.scss';

.root {
  margin-top: 0px;
  margin-bottom: $size-50;
}

.inner {
  position: relative;
  overflow: hidden;
  white-space: nowrap;

  &:before,
  &:after {
    content: '';
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    transition: all 0.2s $transition-timing;

    @media print {
      display: none;
    }
  }

  &:before {
    background: linear-gradient(to right, rgba($color-white, 0), transparent);
    left: 0;
  }

  &:after {
    background: linear-gradient(to left, rgba($color-white, 0), transparent);
    right: 0;
  }

  .result-grap--scroll-fade-left & {
    &:before {
      background: linear-gradient(to right, rgba($color-white, 1), transparent);
    }
  }

  .result-grap--scroll-fade-right & {
    &:after {
      background: linear-gradient(to left, rgba($color-white, 1), transparent);
    }
  }
}

.scrollable {
  float: left;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  padding: $size-24 0;
}
