@import '../../styles/common.scss';

.button {
  display: inline-block;
  text-align: center;
  color: $color-white;
  font-family: $font-family-header;
  font-size: $size-18;
  font-weight: 700;
  letter-spacing: 0.08em;
  white-space: nowrap;
  padding: $size-16 $size-24;
  text-transform: uppercase;
  line-height: $size-24;
  margin-bottom: $size-24;
  position: relative;

  &:hover:before {
    background-color: lighten($color-black, 25%);
  }

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black;
  }

  &[data-opacity='0.1']:before {
    opacity: 0.1;
  }

  &[data-opacity='0.2']:before {
    opacity: 0.2;
  }

  &[data-opacity='0.3']:before {
    opacity: 0.3;
  }

  &[data-opacity='0.4']:before {
    opacity: 0.4;
  }

  &[data-opacity='0.5']:before {
    opacity: 0.5;
  }

  &[data-opacity='0.6']:before {
    opacity: 0.6;
  }

  &[data-opacity='0.7']:before {
    opacity: 0.7;
  }

  &[data-opacity='0.8']:before {
    opacity: 0.8;
  }

  &[data-opacity='0.9']:before {
    opacity: 0.9;
  }

  &[aria-disabled='true'],
  &[disabled] {
    cursor: default;
    pointer-events: none;

    &:before {
      background-color: $color-gray;
    }
  }
}

.button__inner {
  position: relative;
  z-index: $z-promoted;
}

.button--small {
  font-size: $size-12;
  padding: $size-8 $size-14;

  @include breakpoint($s) {
    font-size: $size-14;
  }
}

.button--slim {
  padding: 0;
  background-color: transparent;
  text-decoration: underline;
  color: $color-black;
  font-weight: $font-weight-normal;
  text-transform: initial;
  font-family: $font-family-body;

  &:before,
  &:hover:before {
    background-color: transparent;
  }
}

.button--black {
  &:hover {
    background-color: darken($color-black, 10%);
  }

  .icon {
    fill: $color-white;
  }
}

.button--white {
  color: $color-black;

  &:before {
    background-color: $color-white;
  }

  &:hover:before {
    background-color: darken($color-white, 5%);
  }
}
.button--gray {
  color: $color-black;

  &:before {
    background-color: $color-gray;
  }

  &:hover:before {
    background-color: lighten($color-gray, 5%);
  }
}

.button--center {
  display: block;
  margin: 0 auto;
}

.button--with-icon {
  letter-spacing: 0;
  text-align: center;
  padding-left: $size-64;

  .icon {
    width: $size-28;
    height: $size-28;
    position: absolute;
    left: $size-22;
    top: $size-16;
  }
}
