@import '../../styles/common.scss';

.goal-quickview {
    padding: $size-24;
    color: $color-black;

    @include breakpoint($s) {
        padding: $size-40 $size-32;
    }

    .section {
        padding-bottom: $size-50;
    }

    .section__title & {
        font-size: $size-18;
        margin-bottom: $size-24;

        @include breakpoint($s) {
            font-size: $size-28;
        }
    }

    .section__description {
        font-size: $size-18;
    }
}

