@import '../../styles/common.scss';

.dropdown {
  display: block;
  position: absolute;
  top: 75px;
  right: 0;
  padding: $size-32 $size-40;
  background: $color-white;
  box-shadow: 0 2px 7px 0 rgba($color-black, 0.2);
  z-index: $z-promoted;

  @include breakpoint($m) {
    top: 85px;
  }

  &[aria-hidden='true'] {
    display: none;
  }

  &:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 5px;
    margin-left: $size-12;

    border: $size-12 solid black;
    border-color: transparent transparent $color-white $color-white;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -3px 3px 7px 0 rgba($color-black, 0.1);
  }
}
