@import '../../styles/common.scss';

.lined-header {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: $size-32;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: $size-12;
        display: block;
        background-color: $color-gray-dark;
        height: 1px;
        width: 100%;
        margin-bottom: $size-4;
    }
}

.lined-header__title {
    font-family: $font-family-header;
    text-transform: uppercase;
    padding: 0 $size-12;
    margin: 0;
    font-size: $size-24;
    text-align: center;
    background-color: $color-gray-light;
    z-index: $z-promoted;
}
